<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
  </div>
</div>ERROR in Failed to compile entry-point ng2-smart-table (es2015 as esm2015) due to compilation errors

<ng2-smart-table [settings]="settings" [source]="data" (createConfirm)="onCreateConfirm($event)"
  (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)">
</ng2-smart-table>

<!--
  (delete)="remove($event)"
-->

<!--
<table class="table table-striped m-3">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList;let i=index">
      <td><strong>{{ i+1 }}</strong></td>
      <td> {{ user._id }}</td>
      <td> {{ user.firstname }}</td>
      <td> {{ user.lastname }}</td>
      <td> {{ user.email }}</td>
      <td> {{ user.status }}</td>
      <td> {{ user.role }}</td>
      <td>
        <button *ngIf="!user.status" class="btn btn-outline-success" (click)="activateUser(user)">Activate</button>
        <button *ngIf="user.status" class="btn btn-outline-danger" (click)="desactivateUser(user)">Desactivate</button>
      </td>
    </tr>
  </tbody>
</table>
-->
<app-footer></app-footer>
