<app-navbar></app-navbar>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-dark text-white">
    <div class="container">
      <h1 class="display-3">Organize your life <br> then enjoy it.</h1>
      <p style="font-size: 20px;">Life can sometimes seem overwhelming, but that's not going to be the case. <br> With
        our Todo List, you keep everything in one place, so you enjoy peace of mind along the way.</p>
    </div>
  </div>

  <div class="container" >
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Organise with colour</h2>
        <p>Personalise Tasks your way with a splash of colour.<br> This also helps create an at a glance mind map of
          your tasks.</p>
      </div>
      <div class="col-md-4">
        <h2>Quick add</h2>
        <p>Add tasks quicker with frictionless text entry.<br> From an idea to saved task in seconds.</p>
      </div>
      <div class="col-md-4">
        <h2>Simplicity at its core</h2>
        <p>Tasks priorities ease of use over complex<br> functionality and superfluous features.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<app-footer>


</app-footer>
